*.pyc
.pytest_cache/
.venv/
__pycache__/
active_learning_loop/*.egg-info/
active_learning_loop/.snakemake/
active_learning_loop/.venv/
active_learning_loop/__pycache__/
active_learning_loop/data/processed/
active_learning_loop/data/raw/
protein_design_ops/!**/.gitkeep
protein_design_ops/*.egg-info/
protein_design_ops/*.pyc
protein_design_ops/.DS_Store
protein_design_ops/.snakemake/
protein_design_ops/.venv/
protein_design_ops/__pycache__/
protein_design_ops/data/processed/
protein_design_ops/data/raw/*.pdb
protein_design_ops/outputs/
protein_design_ops/results/*/folds/
protein_diffusion/*.egg-info/
protein_diffusion/.snakemake/
protein_diffusion/.venv/
protein_diffusion/__pycache__/
protein_diffusion/data/processed/
protein_diffusion/data/raw/
protein_stability_uncertainty/*.npy
protein_stability_uncertainty/.pytest_cache/
protein_stability_uncertainty/.snakemake/
protein_stability_uncertainty/.venv/
protein_stability_uncertainty/__pycache__/
protein_stability_uncertainty/data/
results/tmp/
